@model IEnumerable<ConsumeAPI.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        @foreach (var v in Model)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => v.id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => v.name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => v.department)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
