@*@model WebAPIConsuming.Models.Employee*@
@model IEnumerable<WebAPIConsuming.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var r in Model)
    {
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => r.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => r.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>
        <dd>
            @Html.DisplayFor(model => r.designation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => r.DOJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => r.salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bonus)
        </dt>
        <dd>
            @Html.DisplayFor(model => r.bonus)
        </dd>
}
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
